# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
cmake
run_benchmarks
run_tests

# CLion
.idea/workspace.xml
.idea/dictionaries

# Visual Studio
vs/.vs
vs/Debug
vs/Release
vs/fixed_point_test.opensdf
vs/fixed_point_test.sdf

# perf
perf.data*
