# cmake
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake
fp_benchmark
fp_test
google_benchmark-prefix/
google_test-prefix/
libfixed_point.a
safe_numerics-prefix

# perf
perf.data*

# Clion
.idea
